@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  font-family: "Rethink Sans";
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#root {
  margin: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
